body{
    background-color: #DE3C4B !important;
    color: #fff !important;
}

#title{
    font-size: 50px;
    font-weight: 900;
}

.header{
    padding: 10px 15px;
    display: flex;
    position: relative;
    z-index: 10;
}

.header__left{
    display: flex;
    align-items: center;
    flex: 2;
}

.header__right{
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    font-weight: 200;
}

.logged-in-as{
    font-size: 15px;
    margin-right: 5px;
}

.no-boards{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem;
    font-size: 20px;
    text-align: center;
    text-decoration: underline;
    margin: 10%;
}

.boards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: black;
    flex: 2;
    flex: 1 0 15%; /* explanation below */
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.card{
  margin-bottom: 10px;
}

.dashboard--header{
    display: inline-flex;
    align-items: center;
    padding: 20px;
    width: 100%;
    margin-bottom: 50px;
}
.dashboard--header__left{
    flex: 3;
}

.dashboard--header__right{
    flex: 1;
    justify-content: flex-end;
}

.input{
    padding: 5px;
    font-size: 18px;
    width: 90%;
}

.modal-title{
    color:black;
}